@import '../../const.scss';

.repository-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    @media screen and (min-width: $breakpoint-desktop) {
        flex-flow: row wrap;
        align-items: flex-start;
    }

    &--button-next {
        margin: 1em 0 1.4em;
        min-width: 30%;
        background: #ffffff;
        border: none;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2);
        line-height: 2em;

        &:disabled {
            box-shadow: 0 0 4px 2px rgba($color: red, $alpha: .8);
        }
    }
}
