@import '../../mixins.scss';
@import '../../const.scss';

.loading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding: 10em 0;

    &-spinner {
        @include size(3em);

        border: 3px solid transparent;
        border-bottom-color: $color-primary;
        border-radius: 50%;

        animation: loading-round 1s linear infinite;
    }
}

@keyframes loading-round {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}
